nav.navbar {
    background-color: #86A397;
    padding: 0;
}

.nav-item a, .nav-item a:hover, .nav-item a:active{
    color: white;
    text-decoration: none;
}

.nav-item a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1rem 2.5rem;
}

.nav-item .active{
    background-color: #7B948A;
}

div.rw-conversation-container .rw-header, button.rw-launcher, div.rw-conversation-container .rw-messages-container .rw-message .rw-client {
    background-color: #e79870;
}

div.rw-conversation-container .rw-send .rw-send-icon-ready {
    fill: #e79870
}