nav.navbar {
    background-color: #86A397;
    padding: 0;
}

.nav-item a, .nav-item a:hover, .nav-item a:active{
    color: white;
    text-decoration: none;
}

.nav-item a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1rem 2.5rem;
}

.nav-item .active{
    background-color: #7B948A;
}